{:points { :p0 {:x 100 :y 200 :oldx 100 :oldy 200 :pinned true}
           :p1 {:x 150 :y 200 :oldx 150 :oldy 200}
           :p2 {:x 200 :y 200 :oldx 200 :oldy 200}
           :p3 {:x 250 :y 200 :oldx 250 :oldy 200 :pinned true}
           :p4 {:x 300 :y 200 :oldx 300 :oldy 200}
           :p5 {:x 350 :y 200 :oldx 350 :oldy 200}
           :p6 {:x 400 :y 200 :oldx 400 :oldy 200 :pinned true}

           :p7 {:x 100 :y 200 :oldx 100 :oldy 200}
           :p8 {:x 150 :y 200 :oldx 150 :oldy 200}
           :p9 {:x 200 :y 200 :oldx 200 :oldy 200}
          :p10 {:x 250 :y 200 :oldx 250 :oldy 200}
          :p11 {:x 300 :y 200 :oldx 300 :oldy 200}
          :p12 {:x 350 :y 200 :oldx 350 :oldy 200}
          :p13 {:x 400 :y 200 :oldx 400 :oldy 200}

          :p14 {:x 100 :y 200 :oldx 100 :oldy 200}
          :p15 {:x 150 :y 200 :oldx 150 :oldy 200}
          :p16 {:x 200 :y 200 :oldx 200 :oldy 200}
          :p17 {:x 250 :y 200 :oldx 250 :oldy 200}
          :p18 {:x 300 :y 200 :oldx 300 :oldy 200}
          :p19 {:x 350 :y 200 :oldx 350 :oldy 200}
          :p20 {:x 400 :y 200 :oldx 400 :oldy 200}

          :p21 {:x 100 :y 200 :oldx 100 :oldy 200}
          :p22 {:x 150 :y 200 :oldx 150 :oldy 200}
          :p23 {:x 200 :y 200 :oldx 200 :oldy 200}
          :p24 {:x 250 :y 200 :oldx 250 :oldy 200}
          :p25 {:x 300 :y 200 :oldx 300 :oldy 200}
          :p26 {:x 350 :y 200 :oldx 350 :oldy 200}
          :p27 {:x 400 :y 200 :oldx 400 :oldy 200}

          :p28 {:x 100 :y 200 :oldx 100 :oldy 200}
          :p29 {:x 150 :y 200 :oldx 150 :oldy 200}
          :p30 {:x 200 :y 200 :oldx 200 :oldy 200}
          :p31 {:x 250 :y 200 :oldx 250 :oldy 200}
          :p32 {:x 300 :y 200 :oldx 300 :oldy 200}
          :p33 {:x 350 :y 200 :oldx 350 :oldy 200}
          :p34 {:x 400 :y 200 :oldx 400 :oldy 200}}

 :sticks [{:links  [ :p0  :p1] :length 50}
          {:links  [ :p1  :p2] :length 50}
          {:links  [ :p2  :p3] :length 50}
          {:links  [ :p3  :p4] :length 50}
          {:links  [ :p4  :p5] :length 50}
          {:links  [ :p5  :p6] :length 50}

          {:links  [ :p7  :p8] :length 50}
          {:links  [ :p8  :p9] :length 50}
          {:links  [ :p9 :p10] :length 50}
          {:links  [:p10 :p11] :length 50}
          {:links  [:p11 :p12] :length 50}
          {:links  [:p12 :p13] :length 50}

          {:links  [:p14 :p15] :length 50}
          {:links  [:p15 :p16] :length 50}
          {:links  [:p16 :p17] :length 50}
          {:links  [:p17 :p18] :length 50}
          {:links  [:p18 :p19] :length 50}
          {:links  [:p19 :p20] :length 50}

          {:links  [:p21 :p22] :length 50}
          {:links  [:p22 :p23] :length 50}
          {:links  [:p23 :p24] :length 50}
          {:links  [:p24 :p25] :length 50}
          {:links  [:p25 :p26] :length 50}
          {:links  [:p26 :p27] :length 50}

          {:links  [:p28 :p29] :length 50}
          {:links  [:p29 :p30] :length 50}
          {:links  [:p30 :p31] :length 50}
          {:links  [:p31 :p32] :length 50}
          {:links  [:p32 :p33] :length 50}
          {:links  [:p33 :p34] :length 50}

          {:links  [ :p0  :p7] :length 50}
          {:links  [ :p7 :p14] :length 50}
          {:links  [:p14 :p21] :length 50}
          {:links  [:p21 :p28] :length 50}

          {:links  [ :p1  :p8] :length 50}
          {:links  [ :p8 :p15] :length 50}
          {:links  [:p15 :p22] :length 50}
          {:links  [:p22 :p29] :length 50}

          {:links  [ :p2  :p9] :length 50}
          {:links  [ :p9 :p16] :length 50}
          {:links  [:p16 :p23] :length 50}
          {:links  [:p23 :p30] :length 50}

          {:links  [ :p3 :p10] :length 50}
          {:links  [:p10 :p17] :length 50}
          {:links  [:p17 :p24] :length 50}
          {:links  [:p24 :p31] :length 50}

          {:links  [ :p4 :p11] :length 50}
          {:links  [:p11 :p18] :length 50}
          {:links  [:p18 :p25] :length 50}
          {:links  [:p25 :p32] :length 50}

          {:links  [ :p5 :p12] :length 50}
          {:links  [:p12 :p19] :length 50}
          {:links  [:p19 :p26] :length 50}
          {:links  [:p26 :p33] :length 50}

          {:links  [ :p6 :p13] :length 50}
          {:links  [:p13 :p20] :length 50}
          {:links  [:p20 :p27] :length 50}
          {:links  [:p27 :p34] :length 50}]}
