{:points {:p0 {:x   3 :y   1 :oldx   0 :oldy   0}
          :p1 {:x 100 :y 100 :oldx 100 :oldy 100}
          :p2 {:x   0 :y 500 :oldx  -5 :oldy 524}
          :p3 {:x  25 :y 475 :oldx  -5 :oldy 525}
          :p4 {:x 250 :y 100 :oldx 250 :oldy 100 :pinned true}
          :p5 {:x 350 :y   1 :oldx 350 :oldy  1}}
 :sticks [{:links  [:p0 :p1] :length 138.6001443000692}
          {:links  [:p2 :p3] :length  35.35533905932738}
          {:links  [:p4 :p5] :length 140.71602609511115}]}
